:root{
    --background-color:#fff;
    --secondary-color:#10a5eb;
}
*{
    margin: 0;
    padding: 0;
    /* background-color: #e0d8d8; */
}
body{
    position: relative;
    width: 100vw;
    height: 100vh;
    font-family: Arial, sans-serif;
    margin: 20px;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
}
.container{
    width: 70%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home_page{
    font-size: 30px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    height: 90%;
    position: absolute;
    z-index: 150;
    gap: 8px;
    visibility: hidden;

    /* background-color: var(--background-color); */
}

.home_page input{
    font-size: 28px;
    padding: 5px 10px;
    
}
img{
    width: 200px ;
}

.title{
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 20px;
}
.catagory{
    margin-top: 10px;
    display: grid;
    font-size: 28px;
    
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-gap: 20px;
    padding: 20px;
    width: 85%;
    margin: 0 auto;
    /* background-color: #fff; */
}
li{
    display: inline-block;
    list-style: none;
    /* max-height: 50px;
    max-width: 50px; */
    height: 30px;
    background-color: #568ba3;
    cursor: pointer;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
}
li:hover{
    background-color: #08384b;
}
.selected{
    background-color: #08384b;
}
button, .button{
    font-size: 28px;
    font-weight: 600;
    min-width: 100px;

    border: none;
    padding: 10px;
    margin: 10px;
    background-color: var(--secondary-color);
    
}

button:hover{
    background-color: #108aee;
}





















.quiz_page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    height: 90%;
    position: absolute;
    z-index: 100;
    gap: 8px;
visibility: hidden;    /* background-color: rgb(103, 116, 116); */
}

.question{
    margin-top: 20px;
    text-align: center;
    width: 80%;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    /* border: #629797; */
    border: 4px solid rgb(164, 172, 172);
    padding: 10px;
    border-radius: 10px;
}
.info{
    width: 80%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-self:center;
}
.questionNumber{
    position: absolute;
    top: 33px;
    left: 45%;
    /* background-color: #fff; */
    padding: 5px;
    border-radius: 50%;
    color: #1f3d3d;
    background-color: #fff;;

}




















.result_page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 50;
    gap: 10px;
    visibility:hidden;
    /* background-color: rgb(143, 166, 143); */
}
.result_page p{
    font-size: 28px;
}
.result_page span{
    font-weight: 700;
}
.buttonContainer{
    margin: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
}
.hide{
    z-index: -200;
    display: none;
}
.show{
    z-index: 500;
visibility: visible;
}


.result_page span{
    /* background-color: #911186; */
    color: #108aee;
}